li {
  list-style-type: none;
  display: inline;
  margin: 0px 0px 0px 10px;
  text-align: center;
  padding: 20px;
  line-height: 5.0em;
}
.border_ {
  border-width: thick;
  border-style: solid;
  border-top-color: red;
  border-right-color: orange;
  border-bottom-color: yellow;
  border-left-color: green;
  width: 170px;
  float: left;
}
.cookie {
  float: left;
}
